body {
  font-family: "Montserrat", sans-serif;
}

.page-content-main {
  background-color: #f4f5f7;
}

nav.nav-main {
  background-color: #0c4475;
  color: #fff;
}

nav.nav-main .nav-logo {
  max-height: 40px;
}

nav.nav-main .nav-link {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  padding: 0.25rem;
  transition: 0.4s all;
  color: #ccc;
}

nav.nav-main .nav-link.active,
nav.nav-main .nav-link:hover {
  color: #fff;
}

.page-header {
  background-image: url("/img/header-bg.jpg");
  background-size: cover;
}

.page-header h2 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 300;
}

.header-description,
.header-disclaimer {
  margin: 20px 0;
  color: #fff;
  font-size: 13px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .header-description,
  .header-disclaimer {
    font-size: 12px;
  }
}

.btn-default {
  display: inline-block;
  background: #2a7aae;
  transition: 0.4s background;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 3px 10px;
}

.btn-default:hover {
  background: #2c6495;
}

.btn-default.btn-red {
  background: #f05252;
}

.btn-default.btn-red:hover {
  background: #d03232;
}

.btn-default.btn-large {
  font-size: 16px;
  padding: 5px 15px;
}

@media screen and (max-width: 768px) {
  .btn-default.btn-large {
    font-size: 14px;
    padding: 5px 15px;
  }
}

.btn-icon-small {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 13px;
}

.btn-icon-medium {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 18px;
}

.btn-icon-only {
  vertical-align: middle;
  font-size: 14px;
  position: relative;
  top: -1px;
}

@media screen and (max-width: 768px) {
  .list-top-area {
    display: block;
  }
}

.list-title {
  font-size: 24px;
  text-align: left;
  display: block;
  color: #2c6495;
}

@media screen and (max-width: 768px) {
  .list-title {
    flex: none;
  }
}

@media screen and (max-width: 768px) {
  .list-actions-container {
    flex: none;
    text-align: left;
    margin-bottom: 20px;
  }
}

.list-count-text {
  font-size: 13px;
  text-align: left;
  display: block;
  color: #000;
}

.data-entry-table {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .data-entry-table {
    display: none;
  }
}

.data-entry-table thead tr th {
  color: #0c4475;
}

.data-entry-table tbody tr {
  border: none;
  background: #fff;
}

.data-entry-table tbody tr:nth-child(odd) {
  background: #f7f8f9;
}

.data-entry-table tbody tr:hover {
  background: #f0f1f4;
}

.data-entry-title {
  font-weight: 600;
  color: #0c4475;
}

.data-entry-description {
  font-size: 13px;
  margin-bottom: 10px;
}

.data-entry-url {
  font-size: 13px;
  margin-bottom: 10px;
  font-style: italic;
}

.data-entry-downloads {
  font-size: 13px;
}

.data-entry-date {
  font-size: 13px;
}

.actions-column {
  min-width: 300px;
}

.users-list .user-name {
  font-size: 13px;
  font-weight: 600;
}

.users-list .user-email {
  font-size: 13px;
}

.users-list .user-org {
  font-size: 13px;
}

.users-list .user-role {
  font-size: 13px;
}

.users-list .user-date {
  font-size: 13px;
}

@media screen and (max-width: 1210px) {
  .users-list td:nth-child(2),
  .users-list td:nth-child(3),
  .users-list td:nth-child(4),
  .users-list th:nth-child(2),
  .users-list th:nth-child(3),
  .users-list th:nth-child(4) {
    display: none;
  }
}

.users-list .btn-default {
  margin: 0 5px 5px 0;
}

.data-entry-boxes-container {
  display: none;
  margin: 0 -5px;
}

@media screen and (max-width: 768px) {
  .data-entry-boxes-container {
    display: block;
  }
}

.data-entry-boxes-container .data-box {
  background: #e2e6ec;
  margin: 5px;
  position: relative;
}

.data-entry-boxes-container .data-box .data-box-inner {
  padding: 15px 15px 60px 15px;
}

.data-entry-boxes-container .data-box .data-box-inner .data-entry-title {
  font-size: 18px;
}

.data-entry-boxes-container .data-box .data-box-inner .data-entry-country {
  font-size: 13px;
}

.data-entry-boxes-container .data-box .data-box-inner .data-entry-description {
  margin-top: 15px;
}

.data-entry-boxes-container .data-box .data-box-inner .user-org {
  font-size: 13px;
}

.data-entry-boxes-container .data-box .data-box-inner .user-role {
  font-size: 13px;
  margin-bottom: 10px;
}

.data-entry-boxes-container .data-box .data-box-inner .data-box-actions {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.pagination-links-container {
  margin-top: 40px;
}

.pagination-buttons .active span {
  background: #2a7aae;
  color: #fff;
}

.filters-container {
  margin-bottom: 30px;
}

@media screen and (max-width: 639px) {
  .filters-container {
    padding: 0 20px;
  }
}

.filters-container button.active {
  background: #0c4475;
}

.admin-form input,
.admin-form textarea,
.admin-form select {
  border-radius: 2px;
  display: block;
  margin-bottom: 15px;
}

.admin-form .form-field-default {
  background-color: #f4f6f7;
}

.admin-form .form-field-label {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #0c4475;
  text-transform: uppercase;
}

.admin-form .custom-file {
  margin: 10px auto;
}

.admin-form .text-danger {
  color: #cc0000;
  font-weight: 600;
  margin-bottom: 7px;
  display: inline-block;
}

.admin-form button[type=submit] {
  margin: 30px auto 0 auto;
}

.admin-panel-block {
  border-radius: 5px;
  background: #d78a08;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 90px 0;
  transition: 0.4s all;
}

.admin-panel-block.datasets-admin-block {
  background: #d78a08;
}

.admin-panel-block.datasets-admin-block:hover {
  background: #c77a08;
}

.admin-panel-block.platforms-admin-block {
  background: #2a7aae;
}

.admin-panel-block.platforms-admin-block:hover {
  background: #1a6a9e;
}

.admin-panel-block.users-admin-block {
  background: #0c4475;
}

.admin-panel-block.users-admin-block:hover {
  background: #0c3465;
}

.admin-panel-block i {
  display: block;
  margin-bottom: 20px;
  font-size: 60px;
}

footer {
  background: #e3e7ef;
  text-align: center;
}

footer .footer-inner {
  padding: 30px;
  font-size: 13px;
  color: #333;
}

footer .footer-inner a {
  color: #222;
  text-decoration: underline;
}

footer .footer-eu-funding {
  margin-top: 30px;
  text-align: center;
}

footer .footer-eu-funding img {
  display: block;
  height: 60px;
  width: auto;
  margin: 0 auto;
}

footer .footer-eu-funding .text {
  display: block;
  margin-top: 10px;
  font-family: Arial;
  font-size: 13px;
}

.bg-iw {
  background-color: #0c4475;
}

.auth-logo-container {
  text-align: center;
  margin: 30px auto 50px auto;
}

@media screen and (max-width: 768px) {
  .auth-logo-container {
    max-width: 90%;
  }
}

.auth-logo-container img {
  width: 400px;
  max-width: 80%;
  margin: auto;
}

.auth-logo-container .auth-logo-text {
  color: #d78a08;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .auth-logo-container .auth-logo-text {
    font-size: 22px;
  }
}

.inline {
  display: inline !important;
}

