body {
  font-family: "Montserrat", sans-serif;
}

.page-content-main {
  background-color: #f4f5f7;
}

nav {
  background-color: #0c4475;
  color: #fff;
}

nav .nav-logo {
  height: 40px;
}

nav .nav-link {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  padding: 0.25rem;
  transition: 0.4s all;
  color: #ccc;
}

nav .nav-link.active,
nav .nav-link:hover {
  color: #fff;
}

.page-header {
  background-color: #2c6495;
}

.page-header h2 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 300;
}

.header-description {
  margin: 20px 0;
  color: #fff;
  font-size: 13px;
  line-height: 150%;
}

.btn-default {
  display: inline-block;
  background: #2a7aae;
  transition: 0.4s background;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 3px 10px;
}

.btn-default:hover {
  background: #2c6495;
}

.btn-default.btn-red {
  background: #f05252;
}

.btn-default.btn-red:hover {
  background: #d03232;
}

.btn-default.btn-large {
  font-size: 16px;
  padding: 5px 15px;
}

.btn-icon-small {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 13px;
}

.btn-icon-medium {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 18px;
}

.btn-icon-only {
  vertical-align: middle;
  font-size: 14px;
  position: relative;
  top: -1px;
}

.list-title {
  font-size: 24px;
  text-align: left;
  display: block;
  color: #2c6495;
}

.list-count-text {
  font-size: 13px;
  text-align: left;
  display: block;
  color: #000;
}

.data-entry-table {
  margin-top: 30px;
}

.data-entry-table thead tr th {
  color: #0c4475;
}

.data-entry-table tbody tr {
  border: none;
  background: #fff;
}

.data-entry-table tbody tr:nth-child(odd) {
  background: #f7f8f9;
}

.data-entry-table tbody tr:hover {
  background: #f0f1f4;
}

.data-entry-title {
  font-weight: 600;
  color: #0c4475;
}

.data-entry-description {
  font-size: 13px;
  margin-bottom: 10px;
}

.data-entry-downloads {
  font-size: 13px;
}

.data-entry-date {
  font-size: 13px;
}

.actions-column {
  min-width: 300px;
}

.users-list .user-name {
  font-size: 13px;
  font-weight: 600;
}

.users-list .user-email {
  font-size: 13px;
}

.users-list .user-org {
  font-size: 13px;
}

.users-list .user-role {
  font-size: 13px;
}

.users-list .user-date {
  font-size: 13px;
}

.filters-container {
  margin-bottom: 30px;
}

.admin-form input,
.admin-form textarea,
.admin-form select {
  border-radius: 2px;
  display: block;
  margin-bottom: 15px;
}

.admin-form .form-field-default {
  background-color: #f4f6f7;
}

.admin-form .form-field-label {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #0c4475;
  text-transform: uppercase;
}

.admin-form .custom-file {
  margin: 10px auto;
}

.admin-form .text-danger {
  color: #cc0000;
  font-weight: 600;
  margin-bottom: 7px;
  display: inline-block;
}

.admin-form button[type=submit] {
  margin: 30px auto 0 auto;
}

.admin-panel-block {
  border-radius: 5px;
  background: #d78a08;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 90px 0;
  transition: 0.4s all;
}

.admin-panel-block.datasets-admin-block {
  background: #d78a08;
}

.admin-panel-block.datasets-admin-block:hover {
  background: #c77a08;
}

.admin-panel-block.platforms-admin-block {
  background: #2a7aae;
}

.admin-panel-block.platforms-admin-block:hover {
  background: #1a6a9e;
}

.admin-panel-block.users-admin-block {
  background: #0c4475;
}

.admin-panel-block.users-admin-block:hover {
  background: #0c3465;
}

.admin-panel-block i {
  display: block;
  margin-bottom: 20px;
  font-size: 60px;
}

footer {
  background: #e3e7ef;
}

footer .footer-inner {
  padding: 30px;
  font-size: 13px;
  color: #333;
}

footer .footer-inner a {
  color: #222;
  text-decoration: underline;
}

.bg-iw {
  background-color: #0c4475;
}

.auth-logo-container {
  margin-bottom: 50px;
}

.auth-logo-container img {
  width: 400px;
  max-width: 90%;
}

.auth-logo-container .auth-logo-text {
  color: #d78a08;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

