$main-color: #0c4475;
$main-color-lighter: #2c6495;
$btn-default-color: #2a7aae;

body {
    font-family: 'Open Sans', sans-serif;
    background: #f6f7f9;
}

//TOP LINKS AND LOGO

.landing-top-container {
    background-image: url('/img/landing-bg.jpg');
    background-size: cover;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
}
.nav-logo {
    max-height: 46px;
}
.top-nav {
    .top-nav-left {
        padding: 15px;
    }
    .top-nav-right {
        padding: 15px;
        a {
            font-weight: 700;
        }
    }
}

//INFO/TEXT AREA

.yellow-text {
    color: #d78a08;
}
.landing-info-area {
    padding: 10px 30px 50px 30px;
    color: #fff;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    h1 {
        font-size: 60px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 120%;
        font-family: Oswald, sans-serif;
        //text-transform: uppercase;
    }
    h2 {
        font-size: 20px;
        font-weight: 800;
        line-height: 120%;
        margin-top: 10px;
    }
    .description-text {
        font-size: 14px;
        width: 100%;
        max-width: 1000px;
        margin: 30px 0 0px 0;
        line-height: 160%;
        p {
            margin-bottom: 15px;
        }
    }
    .landing-info-btn {
        margin: 40px 0 0px 0;
    }
}
.landing-cta-container {
    position: relative;
    background-image: url('/img/landing-bg-corner.png');
    background-size: cover;
    background-position: left top;
    width: 100%;
    height: 300px;
    .landing-cta-text {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        .landing-cta-text-inner {
            text-align: right;
            max-width: 1400px;
            margin: 0 auto;
            padding: 0px 30px 30px 30px;
        }
    }
    .landing-cta-text-main {
        font-size: 30px;
        color: #d78a08;
        font-weight: 600;
        @media screen and (max-width: 390px) {
            font-size: 24px;
        }
    }
    .landing-cta-text-secondary {
        font-size: 24px;
        color: #fff;
        font-weight: 500;
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
}


//BOXES

.landing-grid-container {
    max-width: 1400px;
    margin: 0 auto;
}
.platform-boxes-container {
    padding: 50px 0px;
}
.platform-boxes-container {

}
.platform-box {
    margin: 15px;
    background: #fff;
    position: relative;
    padding-bottom: 30px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.05);
    .platform-box-img {

    }
    .platform-box-text-container {
        padding: 20px 15px 30px 15px;
    }
    .platform-box-title {
        font-size: 16px;
        font-weight: 800;
        color: $main-color;
    }
    .platform-box-description {
        font-size: 13px;
    }
    .platform-box-link {
        position: absolute;
        bottom: 15px;
        right: 15px;
        padding: 5px 0px;
        a {

        }
    }
}

//BUTTONS

.landing-btn {
    border-radius: 0px;
    border: none;
    color: #fff;
    background: #135288;
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 600;
    //text-transform: uppercase;
    transition: .4s all;
    cursor: pointer;
    i {
        vertical-align: middle;
        margin-left: 15px;
        font-size: 12px;
        position: relative;
        top: -1px;
    }
    &:hover {
        background: #034278;
    }
    &.yellow-btn {
        background: #d78a08;
        font-size: 16px;
        font-weight: 700;
        padding: 8px 15px;
        &:hover {
            background: #c77a08;
        }
    }
}

//MAP

.map-container {
    //max-width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    background: #f4f5f6;
    #map {
        width: 100%;
        height: 600px;
        margin: 0 auto;
        path {
            stroke-width: 0.5;
            stroke: #ffffff;
            cursor: pointer;
        }
    }
}
.tooltip {
    background: #fff;
    padding: 8px;
    border-radius: 2px;
    .tooltip-title {
        font-weight: 700;
        font-size: 14px;
    }
    .tooltip-url {
        font-style: italic;
        font-size: 12px;
    }
}

//FOOTER

footer {
    background: #e3e7ef;
    .footer-inner {
        max-width: 1400px;
        margin: 0 auto;
        padding: 30px;
        font-size: 13px;
        color: #333;
        text-align: center;
        a {
            color: #222;
            text-decoration: underline;
        }
    }
    .footer-eu-funding {
        margin-top: 30px;
        text-align: center;
        img {
            display: block;
            height: 60px;
            width: auto;
            margin: 0 auto;
        }
        .text {
            display: block;
            margin-top: 10px;
            font-family: Arial;
            font-size: 13px;
        }
    }
}