$main-color: #0c4475;
$main-color-lighter: #2c6495;
$btn-default-color: #2a7aae;

//MAIN

body {
    font-family: 'Montserrat', sans-serif;
}
.page-content-main {
    background-color: #f4f5f7;
}

//NAV

nav.nav-main {
    background-color: $main-color;
    color: #fff;
    .nav-logo {
        max-height: 40px;
    }
    .nav-link {
        align-items: center;
        display: inline-flex;
        font-size: 14px;
        font-weight: 600;
        padding: 0.25rem;
        transition: .4s all;
        color: #ccc;
        &.active, &:hover {
            color: #fff;
            //border-bottom: 3px solid #fff;
        }
    }
}

//HEADERS

.page-header {
    //background-color: $main-color-lighter;
    background-image: url('/img/header-bg.jpg');
    background-size: cover;
    h2 {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 300;
    }
}
.header-description {
    margin: 20px 0;
    color: #fff;
    font-size: 13px;
    line-height: 150%;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}

//BUTTONS

.btn-default {
    display: inline-block;
    background: $btn-default-color;
    transition: .4s background;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 3px 10px;
    &:hover {
        background: $main-color-lighter;
    }
    &.btn-red {
        background: #f05252;
        &:hover {
            background: #d03232;
        }
    }
    &.btn-large {
        font-size: 16px;
        padding: 5px 15px;
        @media screen and (max-width: 768px) {
            font-size: 14px;
            padding: 5px 15px;
        }
    }
}
.btn-icon-small {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}
.btn-icon-medium {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 18px;
}
.btn-icon-only {
    vertical-align: middle;
    font-size: 14px;
    position: relative;
    top: -1px;
}

//TABLES

.list-top-area {
    @media screen and (max-width: 768px) {
        display: block;
    }
}
.list-title {
    font-size: 24px;
    text-align: left;
    display: block;
    color: #2c6495;
    @media screen and (max-width: 768px) {
        flex: none;
    }
}
.list-actions-container {
    @media screen and (max-width: 768px) {
        flex: none;
        text-align: left;
        margin-bottom: 20px;
    }
}
.list-count-text {
    font-size: 13px;
    text-align: left;
    display: block;
    color: #000;
}
.data-entry-table {
    @media screen and (max-width: 768px) {
        display: none;
    }
    margin-top: 30px;
    thead {
        tr {
            th {
                color: $main-color;
            }
        }
    }
    tbody {
        tr {
            border: none;
            background: #fff;
            &:nth-child(odd) {
                background: #f7f8f9;
            }
            &:hover {
                background: #f0f1f4;
            }
            td {

            }
        }
    }
}
.data-entry-title {
    font-weight: 600;
    color: #0c4475;
}
.data-entry-description {
    font-size: 13px;
    margin-bottom: 10px;
}
.data-entry-url {
    font-size: 13px;
    margin-bottom: 10px;
    font-style: italic;
}
.data-entry-downloads {
    font-size: 13px;
}
.data-entry-date {
    font-size: 13px;
}
.actions-column {
    min-width: 300px;
}
.users-list {
    .user-name {
        font-size: 13px;
        font-weight: 600;
    }
    .user-email {
        font-size: 13px;
    }
    .user-org {
        font-size: 13px;
    }
    .user-role {
        font-size: 13px;
    }
    .user-date {
        font-size: 13px;
    }
    td, th {
        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
            @media screen and (max-width: 1210px) {
                display: none;
            }
        }
    }
    .btn-default {
        margin: 0 5px 5px 0;
    }
}
.data-entry-boxes-container {
    display: none;
    margin: 0 -5px;
    @media screen and (max-width: 768px) {
        display: block;
    }
    .data-box {
        background: #e2e6ec;
        margin: 5px;
        position: relative;
        .data-box-inner {
            padding: 15px 15px 60px 15px;
            .data-entry-title {
                font-size: 18px;
            }
            .data-entry-country {
                font-size: 13px;
            }
            .data-entry-description {
                margin-top: 15px;
            }
            .data-entry-downloads {

            }
            .data-entry-date {

            }
            .user-org {
                font-size: 13px;
            }
            .user-role {
                font-size: 13px;
                margin-bottom: 10px;
            }
            .data-box-actions {
                position: absolute;
                bottom: 15px;
                left: 15px;
                right: 15px;
            }
        }
    }
}

//PAGINATION
.pagination-links-container {
    margin-top: 40px;
}
.pagination-buttons {
    .active {
        span {
            background: #2a7aae;
            color: #fff;
        }
    }
}

//FILTERS

.filters-container {
    margin-bottom: 30px;
    @media screen and (max-width: 639px) {
        padding: 0 20px;
    }
    button {
        &.active {
            background: #0c4475;
        }
    }
}

//ADMIN PANELS and FORMS

.admin-form {
    input, textarea, select {
        border-radius: 2px;
        display: block;
        margin-bottom: 15px;
    }
    .form-field-default {
        background-color: #f4f6f7;
    }
    .form-field-label {
        margin-bottom: 10px;
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: $main-color;
        text-transform: uppercase;
    }
    .custom-file {
        margin: 10px auto;
    }
    .custom-file-label {
        
    }
    .text-danger {
        color: #cc0000;
        font-weight: 600;
        margin-bottom: 7px;
        display: inline-block;
    }
    button[type=submit] {
        margin: 30px auto 0 auto;
    }
}

.admin-panel-block {
    border-radius: 5px;
    background: #d78a08;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 90px 0;
    transition: .4s all;
    &.datasets-admin-block {
        background: #d78a08;
        &:hover {
            background: #c77a08;
        }
    }
    &.platforms-admin-block {
        background: #2a7aae;
        &:hover {
            background: #1a6a9e;
        }
    }
    &.users-admin-block {
        background: #0c4475;
        &:hover {
            background: #0c3465;
        }
    }
    i {
        display: block;
        margin-bottom: 20px;
        font-size: 60px;
    }
}

//FOOTER

footer {
    background: #e3e7ef;
    .footer-inner {
        padding: 30px;
        font-size: 13px;
        color: #333;
        a {
            color: #222;
            text-decoration: underline;
        }
    }
}

//VARIOUS

.bg-iw {
    background-color: $main-color;
}
.auth-logo-container {
    text-align: center;
    margin: 30px auto 50px auto;
    @media screen and (max-width: 768px) {
        max-width: 90%;
    }
    img {
        width: 400px;
        max-width: 80%;
        margin: auto;
    }
    .auth-logo-text {
        color: #d78a08;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 30px;
        margin-top: 10px;
        @media screen and (max-width: 768px) {
            font-size: 22px;
        }
    }
}